/* ------CUSTOM CSS------ */
:root {
  --primary-light-color: #f67e7e;
  --primary-midnight-color: #014e56;
  --primary-white-color: #ffffff;
  /*  secondary-color */
  --secondary-repture-blue-color: #79c8c7;
  --secondary-polise-blue-color: #2c6269;
  --secondary-deep-green-color: #004047;
  --secondary-sacramento-green-color: #012f34;
  --secondary-dark-green-color: #002529;
  /* main */
  --main-font-family: "Livvic", Arial, Helvetica, sans-serif;
  --main-font-size-1: 1.8rem;
  --main-font-size-2: 1.5rem;
  --main-font-weight: 600;

  --main-line-height-1: 1.56rem;
  --main-line-height-2: 1.67rem;

  --h1-large-size: 10rem;
  --h1-large-line-height: 1;

  --h1-small-size: 6.4rem;
  --h1-small-line-height: 0.88;

  --h2-size: 4.8rem;
  --h2-line-height: 1;

  --h3-size: 1.8rem;
  --h3-line-height: 1.56;
}

.hero {
  background: url("../images/png/about_img.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding-top: 5.6rem;
  padding-bottom: 12rem;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__title--wrapper {
  margin-bottom: 50px;
}

.hero__title {
  font-family: "Livvic";
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 100px;
  font-weight: 700;
  color: var(--primary-white-color);
}
.hero__info {
  width: 730px;
}
.hero__divider {
  margin-bottom: 4rem;
  background-color: var(--primary-light-color);
}
.site-divider {
  width: 50px;
  height: 4px;
  border: 0;
}
.hero__description {
  font-family: "Livvic";
  font-size: var(--main-font-size-1);
  font-weight: var(--main-font-weight);
  line-height: 28px;
}
/* features */
.features {
  background: url("../images/png/director_left-img.png"),
    url("../images/png/directors-rect_right.svg");
  background-repeat: no-repeat;
  background-position: left 0 top 0, right 0 bottom 0;
  background-color: var(--secondary-deep-green-color);
  padding-bottom: 168px;
}
.features__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6.4rem;
}
.features__title {
  font-family: "Livvic";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  align-items: center;
  color: var(--primary-white-color);
}
/* Director */

.director {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  display: grid;
  row-gap: 76px;
  column-gap: 30px;
}
.director-info {
  background-color: var(--secondary-sacramento-green-color);
  width: 350px;
  height: 253px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.director-info__title {
  font-family: "Livvic";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--secondary-repture-blue-color);
}
.primary {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: var(--primary-white-color);
  text-align: center;
}
.derector-desription {
  font-family: "Livvic";
  font-weight: var(--main-font-weight);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  padding: 0px 48px;
}
.icon-wrapp {
  display: flex;
  gap: 16px;
}
.plus-link {
  width: 56px;
  height: 56px;
  background-color: var(--primary-light-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 88%;
}
.blue {
  background-color: var(--secondary-repture-blue-color);
}
/* Some */
.some {
  padding: 14rem 0;
  background-color: var(--secondary-sacramento-green-color);
  background-image: url("../images/svg/clients-circle.svg");
  background-repeat: no-repeat;
}
.some__container {
  align-items: center;
  justify-content: center;
}

.some__title {
  font-family: "Livvic";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 7rem;
}
.some__list {
  display: flex;
  gap: 8rem;
}
.ready__title {
  font-family: "Livvic";
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
/* YAXSHI TUGADI */
